body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #f8fafc;
  text-align: center;
}

#map {
  width: 100%;
  height: 90vh;
  border-top: 2px solid #ccc;
}

#controls {
  margin: 10px;
  font-size: 1.1em;
}

input[type="range"] {
  width: 300px;
}